//FONT
$font-default: "Nunito";

//BACKGROUNDS
$bg-general: #fefeff;
$bg-primary: #1c7ab9;                        // Buttons and Title colors
$bg-primary-light: #1c7ab9;                  // Buttons and Title colors
$bg-secondary: #000;
$bg-third: #121214;                          // Footer Color
$bg-muted: #8492a6;

//TEXT
$text-default: #3c4858;                       // General Title color
$text-slider-header: #fff;                    // Slider Title
$text-slider-paragraph: #fff;                 // Slider paragraph

$text-primary: #2A80B9;
$text-muted: #8492a6;                         // Gerneral Paragraph colors
$text-light: #f8f9fc;                         //Títulos do Footer e etc
$text-dark: #212529;

//EXTRA
$bg-btn-telefone: #008200;                    //Botão Telefone
$text-btn-telefone: #fff;                     //Texto Botão Telefone
$bg-btn-cotar: #1c7ab9;                       //Botão Cotar
$text-btn-cotar: #fff;                        //Texto Botão Cotar