.bg-white{
    background: var(--bg-general) !important;
}

.bg-primary {
    background-color: var(--bg-primary) !important;
}

.bg-soft-primary {
    background-color: rgba(47, 85, 212, 0.2) !important;
    border: 1px solid rgba(47, 85, 212, 0.2) !important;
    color: var(--bg-primary) !important;
}

.bg-secondary {
    background-color: #5a6d90 !important;
}

.bg-soft-secondary {
    background-color: rgba(90, 109, 144, 0.2) !important;
    border: 1px solid rgba(90, 109, 144, 0.2) !important;
    color: #5a6d90 !important;
}


.bg-success {
    background-color: #2eca8b !important;
}

.bg-soft-success {
    background-color: rgba(46, 202, 139, 0.2) !important;
    border: 1px solid rgba(46, 202, 139, 0.2) !important;
    color: #2eca8b !important;
}

.bg-warning {
    background-color: #f17425 !important;
}

.bg-soft-warning {
    background-color: rgba(241, 116, 37, 0.2) !important;
    border: 1px solid rgba(241, 116, 37, 0.2) !important;
    color: #f17425 !important;
}


.bg-info {
    background-color: #17a2b8 !important;
}

.bg-soft-info {
    background-color: rgba(23, 162, 184, 0.2) !important;
    border: 1px solid rgba(23, 162, 184, 0.2) !important;
    color: #17a2b8 !important;
}

.bg-danger {
    background-color: #e43f52 !important;
}

.bg-soft-danger {
    background-color: rgba(228, 63, 82, 0.2) !important;
    border: 1px solid rgba(228, 63, 82, 0.2) !important;
    color: #e43f52 !important;
}


.bg-dark {
    background-color: #3c4858 !important;
}

.bg-soft-dark {
    background-color: rgba(60, 72, 88, 0.2) !important;
    border: 1px solid rgba(60, 72, 88, 0.2) !important;
   color: var(--text-default) !important;
}

.bg-muted {
    background-color: var(--bg-muted) !important;
}

.bg-soft-muted {
    background-color: rgba(132, 146, 166, 0.2) !important;
    border: 1px solid rgba(132, 146, 166, 0.2) !important;
    color: var(--text-muted) !important;
}

.bg-light {
    background-color: var(--bg-secondary) !important;
}

.bg-soft-light {
   background-color: rgba(248, 249, 252, 0.2) !important;
   border: 1px solid rgba(248, 249, 252, 0.2) !important;
   color: var(--text-light) !important;
}

.bg-blue {
    background-color: var(--bg-primary) !important;
}

.bg-soft-blue {
    background-color: rgba(47, 85, 212, 0.2) !important;
    border: 1px solid rgba(47, 85, 212, 0.2) !important;
    color: var(--bg-primary) !important;
}

.bg-footer {
    background-color: var(--bg-third) !important;
}

.bg-soft-footer {
   background-color: rgba(32, 41, 66, 0.2) !important;
   border: 1px solid rgba(32, 41, 66, 0.2) !important;
   color: var(--bg-third) !important;
}


.bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.bg-overlay-gradient {
    background-color: rgba(47, 85, 212, 0.6);
}

.bg-overlay-white {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-overlay-gradient2 {
    background-image: -webkit-gradient(linear, left top, right top, from(#2eca8b), color-stop(var(--bg-primary)), to(#2eca8b));
    background-image: linear-gradient(90deg, #2eca8b, var(--bg-primary), #2eca8b);
    opacity: 0.5;
}

.bg-marketing {
    padding: 76px 0 120px;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center;
}

.bg-circle-gradiant {
    background: radial-gradient(circle at 50% 50%, rgba(47, 85, 212, 0.1) 0%, rgba(47, 85, 212, 0.1) 33.333%, rgba(47, 85, 212, 0.3) 33.333%, rgba(47, 85, 212, 0.3) 66.666%, rgba(47, 85, 212, 0.5) 66.666%, rgba(47, 85, 212, 0.5) 99.999%);
}