.footer {
    background: var(--bg-third);
    padding: 60px 0;
    position: relative;
    color: #adb5bd;
    text-align: center;
}
.footer .logo-footer {
    color: var(--text-light);
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0;
    letter-spacing: 1px;
}
.footer .footer-head {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.footer .foot-subscribe .form-control {
    background-color: #27314f;
    border: 1px solid #27314f;
    color: var(--text-light);
}
.footer .foot-subscribe .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.footer .foot-subscribe.foot-white .form-control {
    color: #adb5bd;
}
.footer .foot-subscribe input::-webkit-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input:-ms-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input::-ms-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input::placeholder {
    color: #adb5bd;
}
.footer .text-foot {
    color: #adb5bd;
}
.footer .footer-list {
    margin-bottom: 0;
}
.footer .footer-list li {
    margin-bottom: 10px;
}
.footer .footer-list li a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .footer-list li a:hover {
    color: #e6e8ea;
}
.footer .footer-list li:last-child {
    margin-bottom: 0;
}
.footer.footer-bar {
    padding: 30px 0;
    border-top: 1px solid #3d4349;
}