
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,
    0,
    0,
    0.1);
    box-shadow: inset 0 0 6px rgba(0,
    0,
    0,
    0.1);
    background-color: var(--bg-general);
    border-radius: 5px;
}
 ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 5px;
}
 ::-webkit-scrollbar-thumb {
     border-radius: 5px;
    background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: lighten($bg-primary, 20%);
}